{{ include('partials/header.twig') }}

{% for _promotion in promotions %}
    <div>
        <a href="{{ path_for('promotion', { year: _promotion.year }) }}">
            P{{ _promotion.year }}: {{ _promotion.description }}
        </a>
    </div>
{% endfor %}

{{ include('partials/footer.twig') }}