{{ include('partials/header.twig') }}

<h1>Home</h1>
<p>Bienvenue sur mon site</p>

{% for key, value in values %}
    <div>{{ key ~ ' = ' ~ value }}</div>
{% endfor %}

{% for i in range(3, 10, 2) %}
    <div>{{ i }}</div>
{% endfor %}

{% set toto = 'tata' %}
{{ toto }}

{{ include('partials/footer.twig') }}